name: Release

on:
  push:
    tags:
      - "*.*"
      - "*.*.*"

  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Run checks
        run: |
          make promu
          make check_license style staticcheck unused build test-short


      - name: Log in to the GitHub Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        env:
          DOCKER_REPO: ghcr.io/kubedb
          DOCKER_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.actor }}
        run: |
          export PATH=$(go env GOPATH)/bin:$PATH
          export DOCKER_IMAGE_TAG=${GITHUB_REF#"refs/tags/"}
          promu crossbuild
          make docker
          make docker-publish
          make docker-manifest
